<header id="js-header" class="smaller">
      <div class="container clearfix">
          <h1 id="logo">
            <%= link_to 'Home', '/' %>
          </h1>
          <nav>
              
              <%= link_to image_tag('shopping-cart.png') +  "    Cart" , show_cart_url %>
              <% if user_signed_in? %>
                <%= link_to 'Profile', '/user/profil' %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to 'Login', new_user_session_path %>
                <%= link_to 'Sign Up', new_user_registration_path %>
              <% end %>
          </nav>
      </div>
</header>
<br>
<br>
<br>
<br>
<br>
<br>