<h1>Home#product-show</h1>
<p>Find me in app/views/home/product-show.html.erb</p>


create_table :items do |t|
  t.string :title
  t.text :description
  t.decimal :price
  t.string :image_url


  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.image_url %></td>
        <td><%= link_to 'Add to carte'%></td>
      </tr>
    <% end %>
  </tbody>
