<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>

<% if @cart %>
<table>
<thead>
<tr>
  <th>Title</th>
  <th>Price</th>
</tr>
</thead>
<tbody>
<%= @cart.each do |item| %>
<% @somme_items = @somme_items + item.price %>
  <tr>
    <td><%= item["title"] %></td>
    <td><%= item["price"] %></td>
    <td><%= link_to 'delete item', delete_item_url(item["id"]), remote: true %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= form_tag valid_cart_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= @somme_items %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @somme_items * 100%>"
          data-locale="auto"></script>
<% end %>

<% else %>
Votre panier est vide
<% end %>
