<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>


<tbody>
      <td><%= @item.title %></td>
      <td><%= @item.description %></td>
      <td><%= @item.price %></td>
      <td><%= image_tag @item.image_url %></td>
      <td><%= link_to 'Add to cart', add_item_url(@item.id), remote: true %></td>
</tbody>
