<!DOCTYPE html>
<html>
  <head>
    <title>Kittens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('cat.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
  <%= render 'components/header' %>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :class => "alert alert-success" if msg.is_a?(String) %>
  <%- end -%>
  <section class = "items_index__wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </section>
  </body>
</html>
